hr {
border-style: solid;
border-color: #4C4C4C;
border-width: 10px;
}


ul.subnavi li {
  padding-left: 10px !important;
}

/* ---Language Menu --- */
ul.flagmenu {
  margin: 15px 0px;
  padding: 0;
  max-height: 2em;
  /* overflow: hidden; */
}
.flagmenu li {
  padding: 1em 0 0 5px;
  margin: 0;
  list-style: none;
  float: left;
  font-size: 90%;
  color: #ccc;
}
.flagmenu li a, .flagmenu li span {
  text-decoration: none;
  display: block;
  text-indent: -9999px;
}

.flagmenu.noflags li a, .flagmenu.noflags li span {
    text-indent: 0;
    display:inline;
}

.flagmenu.noflags li + li:after {
    content: "|";
    padding: 0 0 0 5px;
    color: #ccc;
}

.flagmenu.noflags li {
    padding-top: 0.5em;
}

.flagmenu a.flags, .flagmenu span.flags {
  width: 20px;
  height: 20px;
  background: url(../img/flagsprite.gif) no-repeat 0 0;
}
.flagmenu a.flags0 {
  background-position: 0 0;
}
.flagmenu span.flags0 {
  background-position: -20px 0;
}
.flagmenu a.flags1 {
  background-position: 0 -20px;
}
.flagmenu span.flags1 {
  background-position: -20px -20px;
}
