<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form action="search" method="post" id="tx_indexedsearch" pageUid="{settings.targetPid}">
    <div class="tx-indexedsearch-hidden-fields TESTINGJOEB2">
        <f:form.hidden name="search[_sections]" value="0" />
        <f:form.hidden name="search[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
        <f:form.hidden name="search[pointer]" id="tx_indexedsearch_pointer" value="0" />
        <f:form.hidden name="search[ext]" value="{searchParams.ext}" />
        <f:form.hidden name="search[searchType]" value="{searchParams.searchType}" />
        <f:form.hidden name="search[defaultOperand]" value="{searchParams.defaultOperand}" />
        <f:form.hidden name="search[mediaType]" value="{searchParams.mediaType}" />
        <f:form.hidden name="search[sortOrder]" value="{searchParams.sortOrder}" />
        <f:form.hidden name="search[group]" value="{searchParams.group}" />
        <f:form.hidden name="search[languageUid]" value="{searchParams.languageUid}" />
        <f:form.hidden name="search[desc]" value="{searchParams.desc}" />
        <f:form.hidden name="search[numberOfResults]" value="{searchParams.numberOfResults}" />
        <f:form.hidden name="search[extendedSearch]" value="{searchParams.extendedSearch}" />
    </div>
    <div class="row">

        <div class="row">

            <div class="input-group col-auto">
                <div class="input-group-text">{f:translate(key: 'searchbox.preText', extensionName: 'jbspb_bootswatch')}</div>
                <!-- input field for search -->
                <f:form.textfield name="search[sword]" value="{sword}" id="tx-indexedsearch-searchbox-sword" class="form-control"/>
                <!-- button with submit -->
                <div class="col-auto">
                    <f:form.submit name="search[submitButton]" value="{f:translate(key: 'form.submit')}" id="tx-indexedsearch-searchbox-button-submit" class="btn btn-primary" />
                </div>
            </div>
            <!-- Subtext to input field -->
            <div id="searchHelp" class="form-text">{f:translate(key: 'searchbox.subText', extensionName: 'jbspb_bootswatch')}</div>
        </div>

    </div>
</f:form>
</html>
